<div id='cruddy-test-suite'>
    <h1>Cruddy Test Page</h1>
    <button><a href='/test-cruddy-insert'>Insert New Person</a></button>
    <hr />
    {{#if success}}
    <table id='cruddy-test-table'>
        <tr><th>First Name</th><th>Last Name</th></tr>
        {{#each results}}
            <tr id='{{id}}'>
                <td>
                    <input type='text' class='first-name-cruddy' value='{{first_name}}'/>
                </td>
                <td>
                    <input type='text' class='last-name-cruddy' value='{{last_name}}'/>
                </td>
                <td>
                    <button class='update-cruddy'>update</button>
                </td>
                <td>
                    <button class='delete-cruddy'>delete</button>
                </td>
            </tr>
        {{/each}}
    </table>
    {{else}}
    <h2>Something went wrong</h2>
    {{/if}}
    <script src='/public/js/cruddy-actions.js'></script>
</div>